body {
    overflow-x:hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.logo {
    width:75px;
    height:75px;
}
.barra_carousel {
    position:absolute;
    top:1%;
    left:1%;
    opacity:1;
    z-index:2;
}
.carrousel_paises {
}
    .carrousel_paises img {
        height:600px;
        width:100%;
    }
.carousel-caption {
       text-shadow: 1px 1px 5px #000000;
       top: 50%;
}
    .carousel-caption h1 {
        cursor:pointer;
        font-size:500%;
    }
    .small_caption{
        
    }
p {
    text-align:justify;
}
ul {
    text-align:justify;
    list-style:circle;
    font-size:large;
}
li {
}
td {
    font-size:20px;
    text-align:center;
}
th {
    font-size:24px;
}

#map {
        height: 500px;
        width:100%;
      }


.controls {
        margin-top: 5px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 5px;
        padding: 5px;
        text-overflow: ellipsis;
        width: 125px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 5px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

ol.carousel-indicators li{
     background-color:black;
     opacity:0.7;
     padding:3px;
     box-shadow: inset 0 1px 1px 0 #999;

}


ol.carousel-indicators li.active {
    box-shadow: inset 0 1px 1px 0 #999;
}